a{
  color: #000;
}
.btn-primary, .btn-primary:hover {
  color: #fff;
  background-color: #d63384;
  border-color: #d63384;
}
.login{
  
  height: 100%;
  float: right;
  width: 25%;
}
.login-container{
  background-attachment: fixed;
  background-image:url("https://wallpapercave.com/wp/wp2004338.jpg");
  height: 100%;
  float: left;
  width: 75%;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.errorMessages {
  color: red;
}
.sidebar {

  height: 100%;
  float: left;
  width: 15%;
  background: #F5F5F5;

}
.navSidebar {
  width:100%;
  margin:0;
  min-height:auto;
  height: auto;
  float: left;
}
.navSidebar ul {
  list-style: none;
  padding: 0;
}
.navSidebar li.navsidebar-item {
  padding: 15px;
}
.navSidebar li.navsidebar-item:hover {
  background: #CCC;
}
.navSidebar li.navsidebar-image {
  padding-left: 15px;
}
.navSidebar a{
  text-decoration: none;
  color: #000;
}
.navSidebar a:hover{
  color: #000;
}
.content{

  height: 100%;
  float: right;
  width: 85%;

}